.footer__style {
  background-color: #fff;
  .footer__links--style {
    a {
      text-decoration: none;
      display: block;
      padding: 0.75rem 0;
    }
    p {
      font-weight: 800;
    }
  }
  .nav__logo {
    height: 50px;
    width: 50px;
  }
}
